@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-inter: "Inter", sans-serif;
  --bgcolor-primary: #e6533c;
}
a {
  text-decoration: none;
}
/* shared-style */
body {
  /* background-color: black; */
}
.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-flex {
  display: flex;
  gap: 10px;
}
.display-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cmn-btn {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 42px;
}
/* nav bar style */
.header-container {
  /* background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%); */
  background-image: linear-gradient(
    to bottom,
    #000000,
    #121212,
    #1d1d1d,
    #282828,
    #343434,
    #343434,
    #343434,
    #343434,
    #282828,
    #1d1d1d,
    #121212,
    #000000
  );
  width: 100%;
  height: 100%;
}
.nav-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 2px solid red; */
}
.brand {
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
  color: #e6533c;
}
.nav-btn {
  background: var(--bgcolor-primary);
  padding: 8px 20px;
  border-radius: 42px;
}
.brand a {
  list-style: none;
  text-decoration: none;
}
.nav-menu {
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
}
.nav-link li {
  list-style: none;
}
.nav-link {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 4px;
}
li a {
  text-decoration: none;
  color: #fff;
}
.nav-item a {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-toggle {
  display: none;
}
/* banner section starts here */
.banner-image {
  position: relative;
  /* border: 2px solid tomato; */
}
.banner-container {
  max-width: 1060px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin-top: 32px;
}
.banner-text {
  width: 40%;
  /* border: 2px solid red; */
}
.banner-title {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}
.shape {
  font-weight: 400;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  /* font-family: var(--font-bungee); */
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
}
.banner-btn {
  display: flex;
  margin-top: 30px;
}
.banner-btn-join {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  background: #e6533c;
}
.banner-btn-download {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-box {
  width: 180px;
  height: 90px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* border: 2px solid red; */
  padding: 20px;
}
.box-1 {
  position: absolute;
  top: 100px;
  left: 200px;
}
.box-2 {
  width: 180px;
  height: auto;
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.red-box {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #e6533c;
}
.box-number {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}
.box-text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  font-weight: 400;
  /* color:red; */
}
/* habits section starts */
.section-1 {
  background: #000;
  /* border: 2px solid green; */
}
.habits-text {
  color: white;
  max-width: 600px;
  /* border: 2px solid red; */
  margin: 0 auto;
  text-align: center;
  /* padding-top: 100px; */
  /* gap: 100px; */
}
.habits-description {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
}
.habits-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card img {
  border-radius: 100%;
  margin-top: 50px;
  /* border: 2px solid tomato; */
  margin-bottom: 15px;
}
.habits {
  max-width: 1060px;
  margin: 0 auto;
  /* gap: 100px;
  margin-top: 100px; */
  padding: 100px;
  /* border: 2px solid red; */
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}
.card-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.card-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  /* text-align: center; */
}
/* run and extra section starts */
.section-2 {
  background-color: #000;
  width: 100%;
}
.run-and-extra {
  display: flex;
  max-width: 1064px;
  margin-top: 30px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background: #222;
  justify-content: space-between;
}
.run-section-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
.run-text {
  width: 45%;
  padding: 40px;
}
.run-section-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 14px;
}
.run-btn {
  background: #e6533c;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 35px;
}
.run-image {
  background-color: #282828;
  /* padding-top: 30px;
  padding-left: 200px; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.run-image img {
  width: 80%;

  border-radius: 30px;
  /* border: 2px solid red; */
  height: 250px;
  /* padding: 30px; */
}
/* bmi calculator section starts */
.section-3 {
  background: #222;
  /* border: 3px solid red; */
}
.form-section {
  display: flex;
  gap: 90px;
  flex-direction: column;
}
.bmi-form {
  /* border: 2px solid red; */
  /* width: 30%; */
  max-width: 575px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-bottom: 30px;
}
.bmi-cal {
  background-color: black;
  /* border: 10px solid greenyellow; */
}
.form-container {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-top: 50px;
  background: #222;
  max-width: 1060px;
  margin: 0 auto;
  /* border: 4px solid aquamarine; */
  margin-top: 50px;
}
.bmi-heading {
  background-color: #000;
  max-width: 600px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-top: 60px;
}
.cal-description {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.cal-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
.bmi-chart-table-section {
  /* border: 2px solid blue; */
  width: 30%;
}
.chart-title {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
}
table {
  border-collapse: collapse;
  margin-top: 30px;
}
th {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border: 5px solid red; */
  padding: 5px;
}
.grid-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 2px solid red; */
  justify-items: stretch;
  gap: 10px;
}
.m-top {
  margin-top: 8px;
}
.grid-child {
  width: 100% !important;
  display: block !important;
  border-radius: 8px;
}
/* 
   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
/* color: red; */
/* opacity: 1; Firefox */
::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
}
.form-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  /* background: red; */
}
.form-input input,
select {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.form-btn {
  background: #e6533c;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 20px;
}
/* team section starts */
.section-4 {
  background-color: #000000;
}
.team-member-pic {
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  background-color: #222;
  /* border: 2px solid red; */
  padding: 20px;
}
.team-text {
  max-width: 600px;
  text-align: center;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0px;
}
.team-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  /* border: 2px solid green; */
  text-align: center;
}
.team-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  /* border: 2px solid tomato; */
}
.team-card {
  position: relative;
  /* border: 2px solid red; */
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card img {
  width: 100%;
  border-radius: 15px;
}
.img-container {
  height: 100%;
  border-radius: 15px;
}
.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
}
.team-member-pic {
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.member-intro {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.member-name {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 120%;
}
.member-designation {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
}
.footer-section {
  background-color: #222;
  /* border: 2px solid red; */
}
.section-5 {
  max-width: 1060px;
  /* border: 2px solid green; */
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 50px;
}
.col-1 {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.col-1-title {
  color: #e6533c;
  font-size: 4.4rem;
  font-weight: 800;
  font-style: italic;
}
.col-1-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.col-2-title,
.col-3-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col-2-item,
.col-3-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 120%;
}
.last-section {
  max-width: 1060px;
  margin: 0 auto;
}
.line {
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}
.warning {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  display: flex;
  max-width: 320px;
  margin: 30px auto 0px;
  padding-bottom: 30px;
}
/* media quary */
@media screen and (max-width: 576px) {
  .header-container {
    padding-left: 20px;
  }
  .nav-link {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .banner-container {
    flex-direction: column;
    width: 100%;
  }
  .banner-text {
    width: 100%;
  }
  .banner-title {
    font-size: 3rem;
  }
  .habits {
    /* max-width: 600px; */
    width: 100%;
    padding: 0;
  }
  .habits-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    margin-right: 0;
    padding: 30px;
  }
  /* .card-text {
    max-width: 250px;
  } */
  .run-and-extra {
    flex-direction: column;
  }
  .run-text {
    width: 100%;
    padding: 50px;
  }
  .run-btn {
    width: 80%;
  }

  .run-image img {
    width: 80%;
  }
  .form-container {
    flex-direction: column;
  }
  .bmi-cal {
    padding-left: 20px;
  }
  .bmi-chart-table-section {
    width: 100%;
  }
  .bmi-heading {
    margin-top: 30px;
  }
  .form-section {
    gap: 30px;
  }
  .team-member-pic {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .section-5 {
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
  }
  .last-section {
    padding: 0px 20px;
  }
}
